@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/Cascadia%20Code.ttf') format('truetype');
}

a {
  @apply text-blue-500 dark:hover:text-white transition-colors hover:text-amber-600 cursor-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-balance mt-5;
}

code:not(:has(*)):not(:empty) {
  background-color: rgba(124, 110, 110, 0.138);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  cursor: text
}
a {
  cursor: pointer
}

a code {
  background-color: rgba(124, 110, 110, 0.138);
  color:blue;
  cursor: pointer;
}

span {
  @apply font-cascadia;
}


span {
  font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
}

dl,
dd,
hr,
figure pre {
  margin: 18px 0;
}

pre {
  overflow: auto;
}

/* table */
/* Estilo para la tabla */
/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  color: #d1d5da; /* Color del texto en modo oscuro */
}

/* Estilo para las celdas del encabezado */
th {
  background-color: #0d1117; /* Color de fondo oscuro para encabezados */
  padding: 10px;
  text-align: left;
  border: 1px solid #30363d; /* Borde más oscuro */
}

/* Estilo alternativo para las filas (colorear filas impares) */
tr:nth-child(odd) {
  background-color: #161b22; /* Fondo alternativo más oscuro */
}

/* Estilo para las celdas de datos */
td {
  padding: 10px;
  border: 1px solid #30363d; /* Borde más oscuro */
}

/* Estilo para enlaces dentro de las celdas */
td a {
  color: #58a6ff; /* Color azul para enlaces en modo oscuro */
  text-decoration: none;
}

/* Estilo para enlaces hover dentro de las celdas */
td a:hover {
  text-decoration: underline;
}


/* blockquote */
blockquote {
  background-color: #1e1e1e; /* Color de fondo oscuro */
  border-left: 4px solid #0366d6; /* Color de la barra lateral */
  padding: 10px 20px; /* Relleno interno */
  margin: 10px 0; /* Márgenes externos */
  border-radius: 0.25rem; /* Bordes redondeados */
  color: #d1d5da; /* Color del texto en modo oscuro */
}

blockquote p {
  margin: 0; /* Elimina márgenes de párrafos dentro del bloque de citas */
}

/* Estilo para el texto citado (cite) */
blockquote footer {
  display: block;
  color: #6a737d; /* Color del texto citado en modo oscuro */
  font-size: 0.9em;
}

/* Estilo para el enlace dentro del texto citado */
blockquote footer a {
  color: #58a6ff; /* Color del enlace citado en modo oscuro */
  text-decoration: none;
}

/* Estilo para el enlace hover dentro del texto citado */
blockquote footer a:hover {
  text-decoration: underline;
}
