@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/Cascadia%20Code.ttf') format('truetype');
}

a {
  @apply text-blue-500 dark:hover:text-white transition-colors hover:text-amber-600 cursor-pointer;
}

span {
  font-family: 'Cascadia Code';
  font-variant-ligatures: normal;

}